body{
	background-color: black;
	height: 90px;
}

.DayWeek{
	color: white;
	font-family: "FORTNITE BATTLEFEST";
	font-size: 85px;
}

#Ifisntwrite{
	color: white;
	font-family: "FORTNITE BATTLEFEST";
	font-size: 65px;
	margin-left: 350px;
}

.Datatime{
	color: white;
	font-family: "FORTNITE BATTLEFEST";
	font-size: 55px;
	position: relative;
	bottom: 1500px;
}

.datatimetxt{
	padding-top: 76px;
	margin-left: 100px;
	position: relative;
	top: -20px;
}

#txtmimzor{
	font-size: 50px;
	position: absolute;
	top: 250px;
	right: 100px;
}
