body{
	background-color: black;
	overflow: scroll;
	overflow-x: hidden;
}

#h1info{
	color: white;
	font-size: 90px;
	font-family: FORTNITE BATTLEFEST;
}

#DiscordRavon{
	color: #F9CA00;
	font-family: FORTNITE BATTLEFEST;
	font-size: 50px;
}

#buttonstream{
	position: relative;
	top: -500px
}

iframe{
	border: 14px solid;
	border-color: #2F2291;
}