body{
    background-color: black;
}

.TXTsett{
    color: white;
    font-family: "FORTNITE BATTLEFEST";
}

#DataEvents{
    font-size: 90px;
    text-align: center;
}

a{
    color: #ccce76;
    font-size: 50px;
}

iframe{
    height: 720px;
    width: 1280px;
    border: 10px solid #ccce76;
    position: relative;
    bottom: -150px;
}