body{
    background-color: black;
    height: 1150px;
    overflow-x: hidden;
}

.TXTsett{
    color: white;
    font-family: "FORTNITE BATTLEFEST";
}

#DataEvents{
    font-size: 90px;
    text-align: center;
}

a{
    color: #ccce76;
    font-size: 50px;
    font-family: FORTNITE BATTLEFEST;
}

iframe{
    height: 720px;
    width: 1280px;
    border: 10px solid #ccce76;
    position: relative;
    bottom: -150px;
}

#TXTINFO{
    font-size: 65px;
    position: relative;
    top: -800px;
    right: -500px;
}

#imgStream{
	position: relative;
	top: -980px;
	right: -250px;
}