body{

    height: 100%;
    width: 100%;
    background-color: #aaaaaa;
    overflow-x: hidden;

}
p{

    font-size: 45px;
    font-family: 'Roboto', sans-serif;

}



a{

    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    position: relative;
    top: -15px;
    left: -50px;

}

img{
    width: 64px;
    border-radius: 50px;
}